/* ���ñ���ͼƬ */
body {
    background: url(/img/2.jpg) center/cover fixed no-repeat !important;
    min-height: 100vh; /* ȷ�� body �߶ȳ����ӿ� */
}
#board {
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}

#toc {
    padding: 10px;
    top: 4rem;
    background-color: var(--board-bg-color);
    border-radius: 10px;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}
